#conteu1{
    box-shadow: 1px 1px 20px 5px black;
    background-color: rgba(255, 255, 255, 0.712);
    width: 90%;
    margin: 10 auto;
    border-radius: 5%;
/*
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/img/loginFundo.png');*/
}
#conteu1 label{
    color: rgb(0, 0, 0);
    font-size: large;
}

#container form{
    border: 1px solid red;
    background-color: rgba(255, 255, 255, 0.712);
    max-width: max-content;
    margin: 10% auto 0 auto;
}
#container form  #inputs-container .form-control{
    width: 90%;
}

#container form  #inputs-container{
    margin: 30px 10px 0px 10px;
}

#container form #detalhes-container{
    text-align: right;
    padding: 4px;
    margin: 50px 5px 0px 0px;
}

